#Assignment 1

In [1]:
#Q1
#string
s="shreeti"
#list
list=["element",34,23.43,True,5+7j]
#float
f=25.098
#tupule
tup=("good",90,6.09)

In [7]:
#Q2
var1 ='' #string 
var2 = '[ DS , ML , Python]' #string
var3 = [ 'DS' , 'ML' , 'Python' ] #list
var4 = 1. #float

l=[var1,var2,var3,var4]

for i in l:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [11]:
#Q3

# / is the divide operator, a type of arithmetic operator used to give quotient and returns float
print(3/2) #ans=1.5

# % is the modulus operator, gives the remainder
print(357%34) #ans=17

# // is the floor funtion operator gives floor value on division
print(9//4) #ans=2

# ** is the power operator , a**b gives value of a^b
print(2**10) #ans=1024

1.5
17
2
1024

In [13]:
#Q4 create a list and print data type

list=['i',2000,8.0,3+9j,1,False,['inner list',7,9],"pw",22,('j',99)]
for i in list:
    print(i)
    print(type(i))
    
#OUTPUT:-
# i
#<class 'str'>
#2000
#<class 'int'>
#8.0
#<class 'float'>
#(3+9j)
#<class 'complex'>
#1
#<class 'int'>
#False
#<class 'bool'>
#['inner list', 7, 9]
#<class 'list'>
#pw
#<class 'str'>
#22
#<class 'int'>
#('j', 99)
#<class 'tuple'>

i
<class 'str'>
2000
<class 'int'>
8.0
<class 'float'>
(3+9j)
<class 'complex'>
1
<class 'int'>
False
<class 'bool'>
['inner list', 7, 9]
<class 'list'>
pw
<class 'str'>
22
<class 'int'>
('j', 99)
<class 'tuple'>

In [22]:
#Q5 Using a while loop, verify if the number A is purely divisible by number B and if so then how many times divisible

print('enter 1st no:')
A=(int)(input())
print('enter 2nd no:')
B=(int)(input())
c=0
if A%B==0:
    
    while A%B==0:
        c=c+1
        A/=B
    else:
        print(c)
        print('times divisible')
else:
    print('not divisible')

enter 1st no:

 50

enter 2nd no:

 2

1
times divisible

In [24]:
#Q6 list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

i=0
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in list:
    if i%3==0:
        print(i)
#OUTPUT:
#3
#6
#9
#12
#15
#18
#21
#24

3
6
9
12
15
18
21
24

In [25]:
#Q7  mutable and immutable data types

# in mutable data types we can change value of elements at an index eg.lists
# in immutable data types we cant alter the data of particular index eg.string
list=[2,7,8]
list[1]=="word" #here we can change vale of 1th index that is 7 to "word"
st="word"
# st.[0]=7 this statem

SyntaxError: invalid syntax (2225036130.py, line 8)